.GamePage {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Board {
    width: 70%;
    height: 80%;
    display: grid;
    padding: 10px;
    box-sizing: border-box;
  }